* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{    
    background-color: hsl(0, 0%, 100%);
    color: #000000;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1rem;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-right: 1rem;
}
main{
    padding: 2rem 5rem;
    min-height: 100vh;    
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-weight: bold;    
    padding: 1rem;
}

.fotos-inicio{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    