{% extends "base.html" %}
{% block title %}Contatos{% endblock %}

{% block content %}
<h2>Fale Conosco</h2>
<p>Sua mensagem será salva em nosso banco de dados.</p>
<form method="POST" class="col-md-6" >
    {% csrf_token %}
    
    {{ form.as_p }}
    
    <button type="submit" class="btn btn-primary">Enviar</button>
</form> 

{% comment %} <form method="POST" class="col-md-6" >
    {% csrf_token %}
    
    <div class="mb-3">
        <label for="{{ form.nome.id_for_label }}" class="form-label">
            {{ form.nome.label }}
        </label>
        {{ form.nome }} {% if form.nome.errors %}
            <div class="alert alert-danger">
                {{ form.nome.errors }}
            </div>
        {% endif %}
    </div>

    <div class="mb-3">
        <label for="{{ form.email.id_for_label }}" class="form-label">
            {{ form.email.label }}
        </label>
        {{ form.email }}
        {% if form.email.errors %}
            <div class="alert alert-danger">
                {{ form.email.errors }}
            </div>
        {% endif %}
    </div>

    <div class="mb-3">
        <label for="{{ form.mensagem.id_for_label }}" class="form-label">
            {{ form.mensagem.label }}
        </label>
        {{ form.mensagem }}
        {% if form.mensagem.errors %}
            <div class="alert alert-danger">
                {{ form.mensagem.errors }}
            </div>
        {% endif %}
    </div>
    
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <button type="submit" class="btn btn-primary">Enviar</button>
</form> {% endcomment %}
    
<br><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.453048873702!2d-43.12697882386867!3d-22.8966546792623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9983759177f19b%3A0x149d2a4b750f4279!2sPlaza%20Shopping%20-%20Av.%20Visconde%20do%20Rio%20Branco%2C%2018%20-%20Centro%2C%20Niter%C3%B3i%20-%20RJ%2C%2024020-005!5e0!3m2!1spt-BR!2sbr!4v1763594946576!5m2!1spt-BR!2sbr" width="870" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></br>
{% endblock %}