{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<br>
<br>
<img src="/static/images/banner_inicio.png" alt="Foto inicio" height="800" width="1800">
<br>
</br>
<div class="fotos-inicio">
<img src="/static/images/icone-air-force-1.png" alt="Foto" height="400" width="400"> <img src="/static/images/icone-air-jordan.png" alt="Foto" height="400" width="400"> <img src="/static/images/icone-air-max.png" alt="Foto" height="400" width="400"> <img src="/static/images/icone-dunk.png" alt="Foto" height="400" width="400" >
</div>
{% endblock %}

